{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load qr_code %}
{% block content%}

<script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "450px";
      document.getElementById("main").style.marginRight = "10px";
    }
  
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginRight= "0";
    }
</script>

{% if balances %}
    {% for balance in balances %}
        <div style="width: 100%;display: flex;justify-content: center;">
            <div style="width:270px;">
                <img class="card-img-top" style="width:100; height: 100;"src="{{ balance.AssetId.Icon.url}}">
                <div class="card-body" style="width:272px">
                    <h5 class="card-title">{{ balance.AssetId.Fullname}}</h5>
                    <p class="card-text">{{ balance.Amount }}</p>
                        <div id="main">
                            <button id="{{balance.AssetId.id}}" class="btn btn-dark " onclick="openNav()">Deposit</button>
                            <button id="{{balance.AssetId.id}}" class="btn btn-dark " onclick="openNav()">Withdraw</button>
                        <!-- <a href="{% url 'transfers' balance.AssetId.id %}" class="btn btn-dark center">View Details</a> -->
                        </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    {% for asset in assets %}
        <div style="width: 100%;display: flex;justify-content: center;">
            <div style="width:270px;">
                <img class="card-img-top" style="width:100; height: 100;"src="{{ asset.Icon.url}}">
                <div style="width:272px">
                    <h5 class="card-title">{{ asset.Fullname}}</h5>
                    <p class="card-text">0</p>
                    <div id="main">
                        <buttin id="{{ asset.id }}" class="btn btn-dark center" onclick="openNav()">Make Deposit</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

<legend class="border-bottom mb-4 text-black ">Your Recent Transfers:</legend>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Fee</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            {% for transfer in transfers %}
                <tr>
                    <td>{{transfer.id}}</td>
                    <td>{{transfer.TransactionDate}}</td>
                    <td>{{transfer.TransactionTypeId}}</td>
                    <td>{{transfer.Amount}}</td>
                    <td>{{transfer.Fee}}</td>
                    <td>{{transfer.ApprovalStatusId}}</td>
                </tr>        
            {% endfor %}
        </tbody>
    </table>


<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <h3 style="color: black">Wallet</h3>
    <i class="text-black">This is you unique wallet address for this coin. Send other coins to this address may result in a loss of funds</i>
    <fieldset class="form-group col-md-12 bg-white border border-dark" style="margin: auto;padding: 10px">
        {% for wallet in wallets %}
        <div class="text-center">
            {% qr_from_text "{{wallet}}" size="m" %}
            <br/>
            <button type="submit" class="btn bg-dark text-white">Copy Address</button>
        </div>
        {% endfor %}
    </fieldset>      
</div>
{% endblock content %}