{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<body>
<div class="grid-container">
    <div class="item1">
    </div>
    <div class="item2">
    </div>
    <div class="item3">    
    </div>
    <div class="item4">
    </div>
    <div class="item5">
    </div>
    <div class="item6">    
    </div>
</div>
<!-- END MAIN CONTENT AREA -->
</body>
{% endblock content %}
