{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<style>


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 700px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;}

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  #main {
    transition: margin-right .5s;
    padding: 16px;
  }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

</style>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}

function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

</script>



<body>

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>

  <div class="card border border-dark" style="background: #fff">
  <br>
  <br>

    <!-- Main Container Listing page -->
    <div class="container">
      <div class="col-md-12 ">
          <div class="row">
{#                {% comment %} defining the with of the first block {% endcomment %}#}
            <div class="col-md-8">
                <div class="card border border-dark text-white">
                    <div class = "text-center">
                        <div class = "text-dark">
                            <font size="10">{{ project.street1 }}</font>
                        </div>
                    </div>
            {#          Image carousel#}
                    <div class="content-section" style="background: white">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner text-center border border-dark">
            {#                        this is where the images in the slideshow are#}
                                    <div class="carousel-item active">
                                        <img src="{{ project.image.url }}" style="width:100%; height:90%;">
                                    </div>
                                {% for p_images in property_images %}
                                    <div class="carousel-item">
                                        <img src="{{ p_images.images.url }}" style="width:100%; height:90%;">
                                    </div>
                                {% endfor %}
{#


            {#                    Previous Button#}
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                                </a>
            {#                          Next Button#}
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                                </a>
                        </div>
            {#            end of image carousel#}
            {#                                    Property description and details#}
                            <div class="container text-dark">
                              <div class="row">
                                <div class="col-md-6">
                                    <br>
                                  <h5>Bed Rooms:</h5>
                                  <p>{{project.bedRooms}} <img src="{% static 'bed.png' %}" style="height: 22px; width:35px;"></p>
                                    <h5>Property Description:</h5>
                                    <p>{{ project.description }}</p>
                                    <h5>Property Location:</h5>
                                    <p> {{ project.street1}},</p>
                                    <p> {{ project.street2}},</p>
                                    <p> {{ project.county}}.</p>
                                </div>
                                <div class="col-md-6">
                                    <br>
                                  <h5>Bathrooms:</h5>
                                  <p>{{project.bathRoom}} <img src="{% static 'toilet.png' %}" style="height: 20px; width:20px;"></p>
                                    <h5>Rent Price:</h5>
                                    <p>€{{project.rentPrice}} <img src="{% static 'rent.png' %}" style="height: 30px; width:30px;"></p>
                                     <h5>Type:</h5>
                                  <p>{{project.type}}</p>

                                </div>
                              </div>
                            </div>
                    <!-- This is how the tenants will view the add -->
                    {% if request.user.user_type == 'False' %}
                        {% if project.referenceRequired == False %}
                            <div class="card bg-steel border border-dark text-white text-center" style="padding:5px">
                            <p>No reference is required for applicants.</p>
                            </div>
                        {% else %}
                            <div class="card border border-dark bg-warning text-center text-dark" style="padding:5px">
                                <p>All applicants must have references to apply for this property.</p>
                                {% if tenant_profile.references %}
                                <p>You meet this requirement  <img src="https://www.ikydz.com/wp-content/uploads/2016/06/green-tick.png" style="height: 30px; width:30px;"></p>
                                {% else %}
                                <p>You don't meet this requirement, please '<a href="{% url 'profile' %}">Update your profile</a>' with a reference <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/1200px-Red_X.svg.png" style="height: 30px; width:30px;"></p>
                                {% endif %}
                            </div>
                        <p></p>
                        {% endif %}

                            <div class="card border border-dark bg-warning text-center text-dark" style="padding:5px">
                                <p>All applicants must have yearly income of equal or over €{{project.tenantSalary}} apply for this property.</p>
                                {% if tenant_profile.salary >= project.tenantSalary %}
                                    <p>You meet this requirement  <img src="https://www.ikydz.com/wp-content/uploads/2016/06/green-tick.png" style="height: 30px; width:30px;"></p>

                                {% elif tenant_profile.both_salary >= project.tenantSalary %}
                                    <p>You meet this requirement with your Guarantor <img src="https://www.ikydz.com/wp-content/uploads/2016/06/green-tick.png" style="height: 30px; width:30px;"></p>

                                {% else %}
                                    <p>You don't meet this requirement, please '<a href="{% url 'profile' %}">Update your profile</a>' <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/1200px-Red_X.svg.png" style="height: 30px; width:30px;"></p>
                                {% endif %}
                            </div>
                          <div class="text-center text-dark" >
                              <form method="post">
                                {% csrf_token %}
                               <P>{{tenant.profile.both_salary }}</P>
                                  {% if user.user_type == 'False' %}
                                      {% if tenant_profile.references %}
                                           {% if tenant_profile.salary >= project.tenantSalary or tenant_profile.both_salary >= project.tenantSalary  %}
                                            <br>

                                            <a href="{% url 'application_submit' project.pk %}" type="submit" class="btn btn-dark" >SpotOn!</a>
                                           {% endif %}
                                      {% endif %}

                                  {% else %}
                                  <br>
                                  <p> You don't meet the criteria</p>
                                  {% endif %}
                              </form>
                              <div id="main">
                                <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
                              </div>
                          </div>
                        <!-- This is how the tenants will view the add -->

                        <br><!-- Manage Listing function if the user is the owner-->
                    {% elif request.user.landlord_profile.landlord_id == project.landlord_id%}
                        <p></p>
                        <div style="text-align: center">
                            <button class="open-button" onclick="openForm()">Manage your Spot</button>
                        </div>
                                <div class="form-popup" id="myForm">
                                  <form class="form-container text-dark" method="POST" enctype="multipart/form-data">

                                      <label for="Viewing Date " class="text-white">Enter a time that suits you to host a viewing with {{ portal.tenant }}</label>
                                        <fieldset class="form-group col-md-12 bg-white border border-dark" style="margin: auto;padding: 10px">
                                            {% csrf_token %}
                                            {{change_listing_form | crispy}}
                                            <div class="text-center">
                                                <button type="submit" class="btn bg-dark text-white">Update your listing</button>
                                            </div>
                                        </fieldset>
                                      <p></p>
                                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                  </form>
                                <!-- Manage Listing function if the user is the owner-->
                                </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>

{#                        End of property detail #}

          <div class="col-md-4">
              <div class="content-section border border-dark bg-white ">
                  <h5>Property Reviews:</h5>
                  {% if propertyReview%}
                        {% for reviews in propertyReview %}
                            <div class="card border border-dark text-white bg-dark" style="padding: 3px;background: ">
                                <h3 class="text-white">{{reviews.tenant}}</h3>
                                <ul class="list-group border border-dark">
                                  <li class="list-group-item list-group-item text-dark">{{reviews.review_description}}</li>
                          
                                </ul>
                            </div>
                            <p></p>
                        {% endfor %}
                  {% endif %}

                        {% if request.user.user_type == 'False'  %}
                            <div class="text-center">
                                <a href="{% url 'review_submit' project.pk %}" type="submit" class="btn btn-dark" >Leave a Review</a>
                            </div>
                        {% endif %}
              </div>
          </div>
      </div>

          </div>

  <br>
  
  
</body>

{% endblock content%}
