{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .center {
        border: 1px #41b6ae;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        {#background: #41b6ae;#}
}
</style>

<div class="content-section border border-dark active-purple-3"style="background: #41b6ae">
 <div class="container-fuild text-white text-center">
    {% if user.is_authenticated %}
{#        Header card for logged in users#}
        <h1 style="color: white">Welcome back to RentSpot, {{ request.user}}!</h1>
        {% if request.user.user_type == 'False' %}
        <h3 style="color: white">Lets find the perfect spot for you!</h3>
            {% else %}
        <h3 style="color: white">Lets find the perfect tenants for you!</h3>
        {% endif %}
    {% else %}
{#        If the user is logged out/ not registered it displays a different header #}
        <img src="{% static 'rentSpotLogo.jpg' %}" style="position:center; height: 180px; width:50%; margin: auto">
        <h1 style="color: white">Join RentSpot today!</h1>
        <h2 style="color: white">Get your spot on</h2>
    {% endif %}
{#    search bar    #}

     <div class="container " style="width: 30%; padding:3px; background:#41b6ae" >
         <form method ="get" style="width: 100%;" >

             {{ myFilter.form }}
             <p></p>
             <button class="border border-dark" type="submit">
             Search</button>
         </form>
        </div>
     <br>
 </div>

</div>
        <legend class="border-bottom mb-4 ">Available Listings</legend>
        <p></p>

    <div class="column-md-12" >
        <div class="row" style="margin: 30px" >
        {% if projects  %}

            {% for project in projects %}
               
                <p> </p>
                <div class="col-md-3" style="padding: 10px; ">

                    <div class="card mb-2 border border-dark" style="width:270px;">
                        <!-- <div class="media"> -->

                        <img class="card-img-top border border-dark" style="width:268px; height: 220px;"
                             src="{{ project.image.url}}">

                            <div class="card-body" style="width=272px height" >
                                <h5 class="card-title">{{ project.street2 }}</h5>
                                 <h5 class="card-title">{{ project.county }}</h5>
                                 <p class="card-text">{{ project.description | stringformat:".28s" }} ...</p> <!--the sfrmat function limits the characters -->
                                 <p class="card-text">€{{ project.rentPrice }} p/m</p>
                                 <div class="text-center">
                                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-dark center">View Property</a>
                                 </div>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
                   
            {% endfor %}
        {% else %}
            <h5 class="" style="padding:5px" > No properties found matching your search criteria, please refine your search.</h5>
        {% endif %}
        </div>
    </div>
{% endblock content%}
