{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
  .form-popup {
    display: none;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: 3px solid #f1f1f1;
  }

  #main {
    transition: margin-right .10s;
    padding: 16px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
</style>

<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "450px";
    document.getElementById("main").style.marginRight = "10px";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginRight= "0";
  }
</script>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <h3 style="color: black">Apply</h3>
  <form class="form-container text-dark" method="POST" enctype="multipart/form-data">
    <i class="text-black">Hitting apply will share you tenant profile with landlord</i>
    <fieldset class="form-group col-md-12 bg-white border border-dark" style="margin: auto;padding: 10px">
      {% csrf_token %}
      {{propertyApplications | crispy}}
      <div class="text-center">
        <button type="submit" class="btn bg-dark text-white">Send Application</button>
      </div>
    </fieldset>      
  </form>
</div>


<!-- Main Container Listing page -->
<div class="container">
  <div class="col-md-12 ">
    <div class="row">
      <div class="col-md-8">
        <div class="card border border-dark text-white">
          <div class = "text-center">
            <div class = "text-dark">
              <p>{{ project.street1 }}</p>
            </div>
          </div>
          <!--Image carousel-->
          <div class="content-section" style="background: white">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner text-center border border-dark">
                <!--this is where the images in the slideshow are-->
                <div class="carousel-item active">
                  <img src="{{ project.image.url }}" style="width:100%; height:90%;">
                </div>
                {% for p_images in property_images %}
                  <div class="carousel-item">
                    <img src="{{ p_images.images.url }}" style="width:100%; height:90%;">
                  </div>
                {% endfor %}
                <!--Previous Button -->
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <!--Next Button-->
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <!-- END - IMAGE CAROUSEL-->
          <!--Property description and details-->
          <div class="container text-dark">
            <div class="row">
              <div class="col-md-6">
                  <br>
                  <h5>Bed Rooms:</h5>
                  <p>{{project.bedRooms}} <img src="{% static 'bed.png' %}" style="height: 22px; width:35px;"></p>
                  <h5>Property Description:</h5>
                  <p>{{ project.description }}</p>
                  <h5>Property Location:</h5>
                  <p> {{ project.street1}},</p>
                  <p> {{ project.street2}},</p>
                  <p> {{ project.county}}.</p>
              </div>
              <div class="col-md-6">
                <br>
                <h5>Bathrooms:</h5>
                <p>{{project.bathRoom}} <img src="{% static 'toilet.png' %}" style="height: 20px; width:20px;"></p>
                <h5>Rent Price:</h5>
                <p>€{{project.rentPrice}} <img src="{% static 'rent.png' %}" style="height: 30px; width:30px;"></p>
                <h5>Type:</h5>
                <p>{{project.type}}</p>
              </div>
            </div>
          </div>
          <!-- This is how the tenants will view the add -->
          {% if request.user.user_type == 'False' %}
            {% if project.referenceRequired == False %}
              <div class="card bg-steel border border-dark text-white text-center" style="padding:5px">
                <p>No reference is required for applicants.</p>
              </div>
            {% else %}
              <div class="card border border-dark bg-warning text-center text-dark" style="padding:5px">
                <p>All applicants must have references to apply for this property.</p>
                {% if tenant_profile.references %}
                  <p>You meet this requirement  <img src="https://www.ikydz.com/wp-content/uploads/2016/06/green-tick.png" style="height: 30px; width:30px;"></p>
                {% else %}
                  <p>You don't meet this requirement, please '<a href="{% url 'profile' %}">Update your profile</a>' with a reference <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/1200px-Red_X.svg.png" style="height: 30px; width:30px;"></p>
                {% endif %}
              </div>
            {% endif %}
            <div class="card border border-dark bg-warning text-center text-dark" style="padding:5px">
              <p>All applicants must have yearly income of equal or over €{{project.tenantSalary}} apply for this property.</p>
              {% if tenant_profile.salary >= project.tenantSalary %}
                <p>You meet this requirement  <img src="https://www.ikydz.com/wp-content/uploads/2016/06/green-tick.png" style="height: 30px; width:30px;"></p>
              {% elif tenant_profile.both_salary >= project.tenantSalary %}
                <p>You meet this requirement with your Guarantor <img src="https://www.ikydz.com/wp-content/uploads/2016/06/green-tick.png" style="height: 30px; width:30px;"></p>
              {% else %}
                <p>You don't meet this requirement, please '<a href="{% url 'profile' %}">Update your profile</a>' <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/1200px-Red_X.svg.png" style="height: 30px; width:30px;"></p>
              {% endif %}
            </div>
            <div class="text-center text-dark" >
              <P>{{tenant.profile.both_salary }}</P>
              {% if user.user_type == 'False' %}
                {% if tenant_profile.references %}
                  {% if tenant_profile.salary >= project.tenantSalary or tenant_profile.both_salary >= project.tenantSalary  %}
                    <br>
                    <div id="main">
                      <button class="openbtn" onclick="openNav()">Apply!</button>
                    </div>
                  {% endif %}
                {% endif %}
              {% else %}
                <br>
                <p> You don't meet the criteria</p>
              {% endif %}
            </div>
            <!-- This is how the tenants will view the add -->
            <br>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- END - PROPERTY DETAIL -->
</div>

{% endblock content%}
