{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}

{% comment %} need to put this in the stylesheet {% endcomment %}
<style>

    .ex1 {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 99%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
}



</style>


    <div class="content-section border border-dark" style="background: #41b6ae">
        <div class="media">
            <a href='/portal'><img class="rounded-circle account-img border border-dark" src="{{user.landlord_profile.image.url}}"></a>
            
                <div class="media-body text-white">
                    <font size="10">{{user.username}}</font>
                    <p>{{user.email}}</p>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/profile'" >Update Profile</button>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/applications'" >Property Applications</button>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/allyourlistings'" >Manage Listings</button>   
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/rentedProperties'" >Rented Properties</button>   
                </div>

        </div>
    </div>

    <div class="col-md-12">
        <legend class="border-bottom mb-4 text-black ">Active Property Listings</legend>
        <div class="row">
                {% if activeProperties  %}

                    {% for listing in activeProperties %}
                        <p> </p>
                        <div class="col-md-4" style="padding: 10px; ">

                            <div class="card mb-2 border border-dark" style="width:270px; ">
                                <!-- <div class="media"> -->

                                <img class="card-img-top border border-dark" style="width:268px; height: 220px;"
                                    src="{{ listing.image.url}}">

                                    <div class="card-body" style="width=272px height" >
                                        <h5 class="card-title">{{ listing.street2 }}</h5>
                                        <h5 class="card-title">{{ listing.county }}</h5>
                                        <p class="card-text">{{ listing.description | stringformat:".28s" }} ...</p> <!--the sfrmat function limits the characters -->
                                        <p class="card-text">€{{ listing.rentPrice }} p/m</p>
                                        <div class="text-center">
                                            <a href="{% url 'project_detail' listing.pk %}" class="btn btn-dark center">View Property</a>
                                        </div>
                                    </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                {% else %}
                    <h5 class="" style="padding:5px" > You have no active listings, <a href="/createListing">click here to create one!</h5></a>
                {% endif %}
        </div>
    
        <legend class="border-bottom mb-4 ">Paused listings:</legend>
                {% if pausedProperties  %}

                    {% for listing in pausedProperties %}
                    
                        <p> </p>
                        <div class="col-md-3" style="padding: 10px; ">

                            <div class="card mb-2 border border-dark" style="width:270px; ">
                            

                                <img src="{{ listing.image.url}}" class="card-img-top border border-dark" style="width:268px; height: 220px;">

                                    <div class="card-body" style="width=272px height" >
                                        <h5 class="card-title">{{ listing.street2 }}</h5>
                                        <h5 class="card-title">{{ listing.county }}</h5>
                                        <p class="card-text">{{ listing.description | stringformat:".28s" }} ...</p> <!--the sfrmat function limits the characters -->
                                        <p class="card-text">€{{ listing.rentPrice }} p/m</p>
                                        
                                        <div class="text-center">
                                            <a href="{% url 'project_detail' listing.pk %}" class="btn btn-dark center">View Property</a>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    
                    {% endfor %}
                {% else %}
                    <h5 class="text-dark" style="padding:5px" > You have no paused advertisement.</h5>
                {% endif %}
    </div>
</div>
<br>





{% endblock content %}


{% comment %} 




        <div class ='col-md-4 ex1 border border-dark' style="background:#41b6ae ">
            <a href="/leasedproperties"><legend class="border-bottom mb-4 text-white">Rented Properties:</legend></a>
            <h1>hello<h1>
        </div>
 {% endcomment %}