{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}

        {% comment %} User portal navigation {% endcomment %}
    <div class="content-section border border-dark" style="background: #41b6ae">
        <div class="media">
            <a href='/portal'><img class="rounded-circle account-img border border-dark" src="{{user.landlord_profile.image.url}}"></a>
            
                <div class="media-body text-white">
                    <font size="10">{{user.username}}</font>
                    <p>{{user.email}}</p>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/profile'" >Update Profile</button>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/applications'" >Property Applications</button>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/allyourlistings'" >Manage Listings</button>   
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/rentedProperties'" >Rented Properties</button>
                     
                </div>

        </div>
    </div>
<div class='col-md-10'>
    <legend class="border-bottom mb-4 ">Open Applications</legend>

        <div class="row">
    {% if applications %}
        {% for application in applications %}
                <div class="col-md-3" style="padding: 10px; ">
                    <div class="card mb-2 border border-dark" style="width:270px; height: 400px;">    
                        <img class="card-img-top border border-dark" style="width:268px; height: 220px;"src="{{ application.tenant_apply.image.url }}">
                        <div class="card-body" style="width=272px height" >
                            <h5 class="card-title">{{ application.listing }}</h5>
                            <p class="card-text">{{application.app_description}}</p> <!--the sfrmat function limits the characters -->
                            <p class="card-text">{{application.viewing_scheduled}}</p>
                            <a href="{% url 'view_profile' application.tenant_apply.pk application.listing_id %}" ><button class="btn bg-dark btn-outline-info text-white" >View {{application.tenant_apply.tenant }}'s profile!</button></a>
                            
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    {%else%}
         <h5 class='text-dark '>There are no open applications for your listing</h5>
    {%endif%}
    
    <legend class="border-bottom mb-4 ">Scheduled Viewings</legend>
    <div class="row">
        {% for view in viewings %}
            <div class="col-md-3" style="padding: 10px; ">
                <div class="card mb-2 border border-dark" style="width:270px; height: 400px;">    
                    <img class="card-img-top border border-dark" style="width:268px; height: 220px;"src="{{ view.tenant.image.url}}">
                    <div class="card-body" style="width=272px height" >
                        <h5 class="card-title">{{ view.listing }}</h5>
                        <p class="card-text">You have a viewing scheduled with <a href="{% url 'view_and_decide' view.tenant.pk view.listing_id %}" >{{ view.tenant.tenant }}</a> on {{ view.month }} {{ view.date }} at {{ view.time }}</p>
                        <a href="{% url 'view_and_decide' view.tenant.pk view.listing_id %}" ><button class="btn bg-dark btn-outline-info text-white" >View Tenant</button></a>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
<div>    
{% endblock content %}