{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rentspot Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <style>
            body {
                color: #fff;
                background: #fff;
            }
            .form-control {
                min-height: 41px;
                background: #f2f2f2;
                box-shadow: none !important;
                border: transparent;
            }
            .form-control:focus {
                background: #e2e2e2;
            }
            .form-control, .btn {        
                border-radius: 2px;
            }
            .login-form {
                width: 450px;
                margin: 30px auto;
                text-align: center;
            }
            .login-panel {
                width: 650px;
                margin: 30px auto;
                text-align: left;
                color: #7a7a7a;
                border-radius: 3px;
                margin-bottom: 15px;
                background: #fff;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }
            .login-form h2 {
                margin: 10px 0 25px;
            }
            .login-form form {
                color: #7a7a7a;
                border-radius: 3px;
                margin-bottom: 15px;
                background: #fff;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }
            .login-form .btn {        
                font-size: 16px;
                font-weight: bold;
                background: #41b6ae;
                border: none;
                outline: none !important;
            }
            .login-form .btn:hover, .login-form .btn:focus {
                background: #fff; 
            }
            .login-form a {
                color: #fff;
                text-decoration: underline;
            }
            .login-form a:hover {
                text-decoration: none;
            }
            .login-form form a {
                color: #7a7a7a;
                text-decoration: none;
            }
            .login-form form a:hover {
                text-decoration: underline;
            }
            .h3 {
                color: #41b6ae;
            }
            /* Full-width input fields */
            input[type=text], input[type=password], input[type=date], input[type=email] {
                width: 70%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: none;
                background: #f1f1f1;
            }


        </style>
    </head>
    <body>
        <!-- <div class="login-form"> -->
        <form method="POST">
            {% csrf_token %}
            <!-- <fieldset class="form-group"> -->
                <legend class="border-bottom mb-4">Join Today</legend>
                <table align="center" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 50%;">
                    <tr>
                        <td>
                            <div class="h3"><h5>PERSONAL INFORMATION</h5></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" placeholder="First Name" name="fname" id="fname" required>
                        </td>
                        <td>
                            <input type="text" placeholder="Last Name" name="lname" id="lname" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="date" placeholder="DOB" name="dob" id="dob" required>
                        </td>
                        <td>
                            <input type="email" placeholder="Email" name="email" id="email" required>
                        </td>
                    </tr>
                </table>

                <!-- <label for="email"><b>Email</b></label>
                <input type="text" placeholder="First Name" name="fname" id="fname" required>
            
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Last Name" name="lname" id="lname" required> -->
            
                {{ form |crispy }}

            <!-- </fieldset> -->
            <div class ="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{%url 'login' %}">Sign In</a>
            </small>
        </div>
    <!-- </div> -->
    </body>



{% endblock content%}
