{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}


<div class="content-section text-white border border-dark" style="background: #41b6ae">
    <div class="media">
        <a href='/portal'><img class="rounded-circle account-img border border-dark" src="{{user.tenant_profile.image.url}}"></a>

            <div class="media-body">
                <font size="10">{{user.username}}</font>
                <p>{{user.email}}</p>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/mySpot'" >MySpot</button>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/profile'" >Update Profile</button>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/guarantor'" >Add A Guarantor</button>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/viewingAppointments'" >Viewing Appointments</button>
                
                    
            </div>
        
    </div>
</div>

<div class="card">
    
    <br>
    {% if user.tenant_profile.both_salary == None %}
    <h1 class="text-dark text-center">Want to add a Guarantor to your profile?</h1>
    <form method="POST">
        <fieldset class="form-group col-md-4 bg-white border border-dark" style="margin: auto;padding: 10px">
            {% csrf_token %}
            {{addG | crispy}}
            <div class="text-center">
                <button type="submit" class="btn bg-dark text-white">Add Guarantor</button>
            </div>
        </fieldset>
    </form>
        {% else %}
        <h1 class="text-dark text-center">There is already a Guarantor linked to your profile!</h1>
        <br>
   {%  endif %}

    </div>



{% endblock content %}
