{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<style>

    .ex1 {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 99%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
}



</style>


    <div class="content-section border border-dark" style="background: #41b6ae">
        <div class="media">
            <img class="rounded-circle account-img border border-dark" src="{{user.landlord_profile.image.url}}">
            
                <div class="media-body text-white">
                    <font size="10">{{user.username}}</font>
                    <p>{{user.email}}</p>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/profile'" >Update Profile</button>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/applications'" >Property Applications</button>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/allyourlistings'" >Manage Listings</button>   
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/rentedProperties'" >Rented Properties</button>   
                </div>

        </div>
    </div>

    
{#this is full screen #}
            <div class="col-md-12" >
{#            then splitting it into two columns here #}
                <div class="row">
{#                    on the bigger column here we have active listings, this  then has row inside of listings#}
                    <div class ='col-md-8 ex1'>
                    <legend class="border-bottom mb-4 text-black ">Your Recent Listings:</legend>
                        <div class="row ">
                            <table class="table table-dark table-striped">
                                <thead>
                                  <tr>
                                    <th>Id</th>
                                    <th>Property</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                  </tr>
                                </thead>
                                <tbody>



                            {% for listing in properties%}
                            <tr>
                                <td>1</td>
                                <td>{{listing.street1}}</td>
                                <td>{{listing.rentPrice}}</td>
                                <td>Active</td>
                              </tr>
                            
                                <div class="container-fluid">
                                    <div class="card border border-dark col-md-12">
                                        
                                        
                                        <div class="card-title" style="background:white">
                                            <a class="nav-link active" href="{% url 'project_detail' listing.pk %}" alt="Click here to view your advert!!">
                                            <h3 class="text-center text-dark">{{listing.street1}}<h3>
                                            </a>
                                        </div>
                                              
                                        <div class="card-body">
                                            
                                                <img class="border border-dark" style="width:268px; height: 220px; float:left; margin:8px;" src="{{ listing.image.url}}">
                                                
                                                <div class = "card text-center text-white border border-dark" style="background:#41b6ae; float:right; margin:8px; width:268px; height: 220px;" >
                                                        <h5 style="padding:5px;">Property Applications</h5>
                                                        <br>
                                                        <p class="card-text"><b>Open Applications : </b> <u>3</u></p>
                                                        <p class="card-text"><b>Scheduled Viewings : </b> <u>9</u></p>

                                                        <a href="/applications" class="btn btn-dark">View applications</a>
                                                    </div>
                                                
                                                
                                                <ul style="list-style-type:none;">
                                                    <li>
                                                        <p class="card-text"><b>Bedrooms: </b>{{listing.bedRooms }}</p>
                                                    </li>
                                                    <li>
                                                        <p class="card-text"><b>Bathrooms: </b>{{listing.bathRoom }}</p>
                                                    </li>
                                                    <li>    
                                                        <p class="card-text"><b>Rent: </b>€{{listing.rentPrice}}</p>
                                                    </li>
                                                    <br>
                                                    <li>
                                                        <p class="card-text"><b>Views : </b> <u>{{listing.views }} 4567</u></p>
                                                    </li>
                                                </ul>
                                                <br>
                                                    <a href="{% url 'project_detail' listing.pk %}" class="btn btn-dark">Manage listing</a>

                                                    



                                        </div>
                                        {# Access applications through this container#}
                                        




                                    </div>
                                <br>
                                </div>
                                
                            {% endfor %}
                        </tbody>
                    </table>
                            
                        </div>
                    </div>
{#                    the second row is here where the open applications live #}
                    <div class="col-md-4 ">
                        <div class="border border-dark ex1" style="background: #41b6ae">
                            <legend class="border-bottom mb-4 text-white">Recent Applications</legend>
                            <div class="row">
                                {% for application in applications|slice:":5"%}
                                  
                                        <div class = "col-md-12 ">
                                            <div class="card mb-3 border border-dark">
                                                <div class="card-body ">
                                                    <h5 class="card-title">{{ application.listing }}</h5>  <!--django tags for db-->
                                                    <a href="{% url 'view_profile' application.tenant_apply.pk application.listing_id %}" >
                                                        {{application.tenant_apply }}</a>
                                                    <p class="card-text">{{application.app_description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    
                                {% endfor %}
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
                    <br>
                <div class="col-md-12">
                    <div class="content-section border border-dark" style="background: #41b6ae">
                        <legend class="border-bottom mb-4 text-white">Upcoming Viewing Appointments</legend>
                        <div class="row">
                            <H1> We should try putting a calender here with the entries maybe </H1>
                            <div id="calender">
                            hello
                            </div>
                            {% comment %} {% for view in viewings %}
                                <div class="col-md-3 ">
                                        <div class="card mb-3 border border-dark  bg-white" style="padding:14px ">
                                            <h5 class="card-title">{{ view.listing }}</h5>
                                            <p class="card-text">You have scheduled a viewing with <a href="{% url 'view_profile' view.tenant.pk view.listing_id %}" >{{ view.tenant }}</a> at {{ view.time }} on {{ view.date }}</p>

                                        </div>
                                </div>
                            {% endfor %} {% endcomment %}
                        </div>


                    </div>
                </div>
            </div>
        <br>

            
            

{% endblock content%}
