{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<body>
<div class="login-grid-container">
    <div class="login-item1">
        <img src="https://turbologo.com/articles/wp-content/uploads/2018/03/prozrachniy-logo-1-1280x720.png" style="height: 300; width:300px;">
    </div>
    <div class="login-item2">
        <div class="login-form">
            <form method="POST">
                <h2 class="text-center">Login</h2>   
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>     
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                </div>
                <p><a href="#">Lost your Password?</a></p>
            </form>
        </div>
    </div>
    <div class="login-item3">
    
    </div>
    <div class="login-item4">
        <p class="text-center small;" style="color: #333131;">Need An Account? <a style="color: #333131;" href="{%url 'register' %}">Sign Up Now</a></p>
    </div>

</div>
<!-- END MAIN CONTENT AREA -->
</body>
{% endblock content %}
