{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}
{% comment %} SCROLLER CSS {% endcomment %}
<style>

    .ex1 {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 99%;
        height: 310px;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
}



</style>


        {% comment %} User portal navigation {% endcomment %}
<div class="content-section text-white border border-dark" style="background: #41b6ae">
    <div class="media">
        <a href='/portal'><img class="rounded-circle account-img border border-dark" src="{{user.tenant_profile.image.url}}"></a>

            <div class="media-body">
                <font size="10">{{user.username}}</font>
                <p>{{user.email}}</p>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/mySpot'" >MySpot</button>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/profile'" >Update Profile</button>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/guarantor'" >Add A Guarantor</button>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/viewingAppointments'" >Viewing Appointments</button>
                
                    
            </div>
        
    </div>
</div>

<legend class="border-bottom mb-4 ">Rented Properties</legend>

{% for rented in rentals %}
    {% comment %} Full card - col 12 is full page {% endcomment %}
    <div class="card col-md-12 border border-dark" >
        <div class="row" style="padding:10px" >
            {% comment %} Section one(left) Display property information {% endcomment %}
            <div class= "card col-md-3 border border-white" style='margin:auto'>
                <h5 class="card-title text-center">{{ rented.property }}</h5>    
                <img class="card-img-top border border-dark" src="{{ rented.property.image.url }}">
                <div class="card-body text-left" >
                    
                    <p class="card-text"><b>Lease Start:</b> {{rented.leaseStart}}</p>
                    <p class="card-text"><b>Lease End:</b> {{rented.leaseEnd}}</p>
                    <p class="card-text"><b>Deposit:</b> {{rented.deposit}}</p>

                    <div class="text-center">
                        <a href="{% url 'project_detail' rented.property.pk %}" class="btn btn-dark">Veiw Property</a>   
                    </div>
                </div>
            </div>

            {% comment %} Section two(Rental payment table)  {% endcomment %}
            <div class= "col-md-8 border border-dark text-white" style='background:#41b6ae ;margin:auto;max-height:80%'>
                <h5 class="text-center "><u>Rental history.</u></h5>
                <div class="table-sm ex1">          
                    <table class="table table-bordered">
                        <thead style="background:white">
                        <tr>
                            <th>Due Date</th>
                            <th>Rent Amount</th>
                            <th>Rent Paid</th>
                            <th>Remarks</th>
                            <th>Property Expenses</th>
                            <th>Remarks</th>
                            
                        </tr>
                        </thead>
                        {% comment %} this for loop populates the rows in the table {% endcomment %}
                        <tbody class="text-white">
                            {%for payment in payments %}
                            <tr style = "background:#303030">
                                <td>12/02/2020</td>
                                <td>€{{rented.property.rentPrice}}</td>
                                <td>€{{payment.rentPayment}}</td>
                                <td>{{payment.rentPaymentDesc}}</td>
                                <td>€{{payment.rentExpenses}}</td>
                                <td>{{payment.rentExpensesDesc}}</td>
                                
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endfor %}



<br>
{% endblock content %}