{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 15px;
        border: 1px solid #000000;
        top: 1px;
        background-color: #d8d8d8;
        margin: auto;
    }
    .imageUpload {
        /* position: relative;
        overflow: hidden;
        margin: 10px; */
        border-top: 1px solid #000000;
        text-align: center;
        /* top: 1px;
        right: 10px;
        margin: 10px; */
        margin: auto;
        padding: 10px;
        /* background-color: #d8d8d8; */
    }
    .my_class {
        position: relative;
        overflow: hidden;
        border: 1px solid #cfcfcf;
        margin: 15px;
        padding: 10px;
        background-color: #ffffff;
        width: 100%;
    }
    .documentUpload {
        position: relative;
        overflow: hidden;
        border: 1px solid #000000;
        margin: 15px;
        padding: 10px;
        background-color: #d8d8d8;
        width: 100%;
    }
</style>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="kyc-grid-container">
        <div class="kyc-item1">

        </div>
        <div class="kyc-item2">
            <h3>Personal Details</h3>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.Firstname }}</div>
                <div class="col-md-4">{{ p_form.Middlename }}</div>
                <div class="col-md-4">{{ p_form.Lastname }}</div>
            </div>
            <div class="form-row">
                <div class="col-md-4"><i>Date Of Birth</i></div>
                <div></div>
            </div>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.DateOfBirth }}</div>
                <div class="col-md-4">{{ p_form.Gender }}</div>
            </div>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.NationalityCountryId }}</div>
                <div class="col-md-4">{{ p_form.Telephone }}</div>
            </div>
        </div>
        <div class="kyc-item3">
        </div>
        <div class="kyc-item4">
            <h3>ID Verification</h3>
            <p>Please upload a clear image of the following documents and headshots. The following formats are accepted : (.png, .jpg, .jpeg)</p>
            <div class="form-row" >
                <div class="fileUpload">
                    <p>Official ID*</p>
                    <img src="https://cdn1.iconfinder.com/data/icons/finance-and-business-vol2/48/identity_card_id_employee_user_details_customer-512.png" alt="ID" width="100px" height="100px">                
                    <br/>
                    {{ p_form.identification }}
                </div>
                <div class="fileUpload">
                    <p>Selfie*</p>
                    <img src="https://image.flaticon.com/icons/png/128/2885/2885542.png" alt="ID" width="100px" height="100px">                
                    <br/>
                    {{ p_form.image }}
                </div>
            </div>
        </div>
        <div class="kyc-item5">
        </div>
        <div class="kyc-item6">

            <h3>Additional Information</h3>
            <p>Employment and Financial Info</p>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.EmploymentStatusId }}</div>
                <div class="col-md-4">{{ p_form.EmployerTypeId }}</div>
                <div class="col-md-4">{{ p_form.EmployerIndustryId }}</div>
            </div>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.EmployerName }}</div>
                <div class="col-md-4">{{ p_form.salary }}</div>
                <div class="col-md-4">{{ p_form.Savings }}</div>

            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <i>Attach Employment Letter or Payslip</i>  
                    <br/>
                    {{ p_form.EmploymentDocument }}
                </div>
                <div class="col-md-4">
                    <i>Attach Bank Statement</i>  
                    <br/>
                    {{ p_form.savingsDocument }}
                </div>
            </div>
            <p>Previous Accomadation Info</p>
            <div class="form-row">
                <div class="col-md-4">{{ p_form.PreviousLandlordName }}</div>
                <div class="col-md-4">{{ p_form.PreviousLandlordEmail }}</div>
                <div class="col-md-4">{{ p_form.PreviousLandlordPhone }}</div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <i>Landlord Reference</i>
                    <br/>
                    {{ p_form.references }}
                </div>
            </div>
            <br/>
            <div class ="form-group  text-center">
                <button class="btn bg-dark btn-outline-info text-white" type="submit">Update</button>
            </div>

        </div>

    </div>
</form>



{% endblock content %}
