{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}

<style>

    .ex1 {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 99%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
}



</style>


        {% comment %} User portal navigation {% endcomment %}
    <div class="content-section border border-dark" style="background: #41b6ae">
        <div class="media">
            <a href='/portal'><img class="rounded-circle account-img border border-dark" src="{{user.landlord_profile.image.url}}"></a>
            
                <div class="media-body text-white">
                    <font size="10">{{user.username}}</font>
                    <p>{{user.email}}</p>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/profile'" >Update Profile</button>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/applications'" >Property Applications</button>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/allyourlistings'" >Manage Listings</button>   
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/rentedProperties'" >Rented Properties</button>   
                </div>

        </div>
    </div>

<legend class="border-bottom mb-4 ">Rented Properties</legend>

{% for properties in rentedproperties %}
    {% comment %} Full card - col 12 is full page {% endcomment %}
    <div class="card col-md-12 border border-dark" >
        <div class="row" style="padding:10px" >
            {% comment %} Section one(left) Display property information {% endcomment %}
            <div class= "card col-md-3 border border-white" style='margin:auto'>
                <h5 class="card-title text-center">{{ properties.property }}</h5>    
                <img class="card-img-top border border-dark" src="{{ properties.property.image.url }}">
                <div class="card-body text-left" >
                    
                    <p class="card-text"><b>Lease Start:</b> {{properties.leaseStart}}</p>
                    <p class="card-text"><b>Lease End:</b> {{properties.leaseEnd}}</p>
                    <p class="card-text"><b>Deposit:</b> {{properties.deposit}}</p>

                    <div class="text-center">
                        <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/rentedProperties'" >View Property</button>   
                    </div>
                </div>
            </div>
            {% comment %} Section two(middle) Display Tenant that is renting their property and lease details{% endcomment %}
            <div class= "card col-md-3 border border-dark text-white" style='background:#41b6ae; margin:auto'>
                <h5 class="card-title text-center "><u>Tenant Information</u></h5>    
                <a href="{% url 'view_and_decide' properties.tenantRenter.tenant.pk properties.property_id %}" ><img class="rounded-circle account-img border border-dark" src="{{properties.tenantRenter.tenant.image.url}}"></a>
                <div class="card-body" style="width=272px height" >
                    
                    <p class="card-text"><b>Name:</b> {{properties.tenantRenter.tenant.tenant}}</p>
                    <p class="card-text"><b>Last Active:</b> {{properties.tenantRenter.tenant.tenant.last_login}}</p>
                    <p class="card-text"><b>Member Since:</b> {{properties.tenantRenter.tenant.tenant.date_joined}}</p>
                    <p class="card-text"><b>Tenant Rating:</b> {{properties.deposit}}</p>
                    <div class="text-center">
                        {% comment %} <button class="btn bg-dark btn-outline-info text-white">View Tenant</button> {% endcomment %}
                        <a href="{% url 'reportRent' properties.property_id  %}" ><button class="btn bg-dark btn-outline-info text-white">Click to Report rent</button></a>   
                        {% comment %} <a href="{% url 'view_profile' properties.tenantRenter.tenant.pk properties.property_id %}" ><button class="btn bg-dark btn-outline-info text-white">View Profile</button></a>    {% endcomment %}
                        {% comment %} <a href="{% url 'view_profile' application.tenant_apply.pk application.listing_id %}" >View Profile</a>    {% endcomment %}
                    </div>
                </div>
            </div>
            {% comment %} Section three(right)  {% endcomment %}
            <div class= "card col-md-3 border border-dark text-white" style='background:#41b6ae ;margin:auto; margin-top:16px; margin-bottom:16px; max-height:445px'>
                <h5 class="card-title text-center "><u>Rental Reporting</u></h5> 


                <div class="table-sm ex1" >          
                    <table class="table table-bordered">
                        <thead style='background:white '>
                        <tr>
                            <th>Due Date</th>
                            <th>Rent Amount</th>
                            <th>Rent Paid</th>
                            <th>Property Expenses</th>
                            
                            
                        </tr>
                        </thead>
                        {% comment %} this for loop populates the rows in the table {% endcomment %}
                        <tbody class="text-white">
                            {%for payment in payments %}
                            <tr style = "background:#303030">
                                <td>{{payment.date}}</td>
                                <td>€{{properties.deposit}}</td>
                                <td>€{{payment.rentPayment}}</td>
                                <td>€{{payment.rentExpenses}}</td>                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    

                </div>
            </div>
        </div>
    </div>
    <br>

{% endfor %}


<br>
<br>
{% endblock content %}