{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}

        {% comment %} User portal navigation {% endcomment %}
    <div class="content-section border border-dark" style="background: #41b6ae">
        <div class="media">
            <a href='/portal'><img class="rounded-circle account-img border border-dark" src="{{user.landlord_profile.image.url}}"></a>
            
                <div class="media-body text-white">
                    <font size="10">{{user.username}}</font>
                    <p>{{user.email}}</p>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/profile'" >Update Profile</button>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/applications'" >Property Applications</button>
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/allyourlistings'" >Manage Listings</button>   
                     <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/rentedProperties'" >Rented Properties</button>   
                </div>

        </div>
    </div>

<legend class="border-bottom mb-4 ">Report any payments and expenses that occurs during the tenancy with <b><u>{{ property.tenantRenter.tenant.tenant }}</u></b> here:</legend> 
    <form method="POST">
        
            <fieldset class="form-group col-md-6 bg-white border border-dark" style="margin: auto;padding: 10px">
                <h4 for="Viewing Date " class="text-dark"> </h4>
                <form>
                    {% csrf_token %}
                    {{ records|crispy }}
                </form>
                <div class="text-center">
                    <button type="submit" class="btn bg-dark text-white">Submit Rental Report</button>
                </div>
            </fieldset>
    </form>






<br>
{% endblock content %}