{% extends "base.html" %}
{% block content%}

<div class="grid-container">
  <div class="item1">
    {% if user.tenant_profile.KycStatusId == 1 %}
        <h5>Profile 33% Complete</h5>
        <progress id="file" value="33" max="100"> 33% </progress>
        <dl>
            <dt>&#10003;&nbsp;&nbsp; 1. Profile</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Initial registration completed. Good job!</dd>
            <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Verification</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Please complete the verfication and KYC process</dd>
            <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Find Your Spot!</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Start exploring all the properties on the market</dd>
        </dl>
        <a href="#" class="btn btn-dark center" onclick="window.location.href = '/profile'">Complete Verification</a>
    {% elif user.tenant_profile.KycStatusId == 2 %}
      <h5>Profile Submitted</h5>
      <progress id="file" value="66" max="100"> 66% </progress>
      <dl>
          <dt>&#10003;&nbsp;&nbsp; 1. Profile</dt>
          <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Initial registration completed. Good job!</dd>
          <dt>&#10003;&nbsp;&nbsp;2. Verification Submitted</dt>
          <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Good Job! Your profile is under review.</dd>
          <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Find Your Spot!</dt>
          <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Start exploring all the properties on the market</dd>
      </dl>
      <a href="#" class="btn btn-dark center" onclick="window.location.href = '/profile'">Update Profile</a>
    {% else %}
      <h5>My Profile</h5>
      <progress id="file" value="100" max="100"> 100% </progress>
      <dl>
          <dt>&#10003;&nbsp;&nbsp; 1. Profile</dt>
          <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Initial registration completed. Good job!</dd>
          <dt>&#10003;&nbsp;&nbsp;2. Verification Submitted</dt>
          <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Good Job! Your application was approved.</dd>
          <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Find Your Spot!</dt>
          <dd>&#10003;&nbsp;&nbsp;- Start exploring all the properties on the market</dd>
      </dl>
      <a href="#" class="btn btn-dark center" onclick="window.location.href = '/profile'">Update Profile</a>
    {% endif %}
  </div>
  <div class="item2">
    <h3>Tenant Dashboard</h3>
    <img src="https://media.istockphoto.com/vectors/smart-city-landscape-city-center-with-many-building-airplane-is-in-vector-id1152829376?k=6&m=1152829376&s=612x612&w=0&h=KD6zpslQ0lhAnfrY8ZLSZmkvIg-Eu--M4a0Cfe9333A=" alt="RentspotCity">
    <div class="text-center">
        <a href="{% url 'project_index' %}" class="btn btn-dark center">View Properties</a>
    </div>
  </div>
  <div class="item3">
    <h5>Wallets and Bank Accounts</h5>
    <p>Make payments by adding your virtual asset wallets or bank acocunts</p>
    <a href="{% url 'balances' %}" class="btn btn-dark center">Manage Wallets</a>
  </div>  
  <div class="item4">
    <h5>Your Property</h5>
    <p>View all relevant details about your rental agreement here</p>
    <a href="#" class="btn btn-dark center">View Details</a>
  </div>
  <div class="item5">
    <h5>Payment History</h5>
    <p>View and monitor your rental payments over time</p>
    <a href="#" class="btn btn-dark center">View Payments</a>
  </div>
  <div class="item6">
    <h5>Make Requests</h5>
    <p>If you want to make requests or lodge complaints we can track requests here</p>
    <a href="#" class="btn btn-dark center">Raise Request</a>
  </div>

</div>


{% endblock content %}


