{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}

{% comment %} need to put this in the stylesheet {% endcomment %}
<style>

    .ex1 {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 99%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
}



</style>


  <div class="content-section text-white border border-dark" style="background: #41b6ae">
    <div class="media">
        <a href='/portal'><img class="rounded-circle account-img border border-dark" src="{{user.tenant_profile.image.url}}"></a>

            <div class="media-body">
                <font size="10">{{user.username}}</font>
                <p>{{user.email}}</p>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/mySpot'" >MySpot</button>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/profile'" >Update Profile</button>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/guarantor'" >Add A Guarantor</button>
                <button class="btn bg-dark btn-outline-info text-white" onclick="window.location.href = '/viewingAppointments'" >Viewing Appointments</button>
                
                    
            </div>
        
    </div>
</div>

<legend class="border-bottom mb-4 ">Your Scheduled Viewing Appointments:</legend>

    <div class="col-md-12">
        
        {% for viewing in viewings %}
        
            <p> </p>
            <div class="col-md-4" style="padding: 10px; ">

                <div class="card mb-2 border border-dark" style="width:270px; ">
                    <!-- <div class="media"> -->

                    <img class="card-img-top border border-dark" style="width:268px; height: 220px;"
                        src="{{viewing.listing.image.url}}">

                        <div class="card-body" style="width=272px height" >
                            <h5 class="card-title">{{ viewing.listing }}</h5>
                            <p class="card-text">Your viewing has been scheduled at <u> {{ viewing.time }}</u> on <u>{{ viewing.date }}</u>.</p>
                            <p class="card-text"></p>
                            
                        </div>
                    <!-- </div> -->
                </div>
            </div>
            <br>
            
        {% endfor %} 
                
                
                
        </div>
    
        <legend class="border-bottom mb-4 ">Your Property Applications:</legend>
                 {% if applications %}

                    {% for application in applications %}
                    
                        <p> </p>
                        <div class="col-md-3" style="padding: 10px; ">

                            <div class="card mb-2 border border-dark" style="width:270px; ">
                            

                                <img src="{{ application.listing.image.url}}" class="card-img-top border border-dark" style="width:268px; height: 220px;">

                                    <div class="card-body" style="width=272px height" >
                                        <h5 class="card-title">{{ application.listing.street2 }}</h5>
                                        <h5 class="card-title">{{ application.listing.county }}</h5>
                                        <p class="card-text">{{ application.listing.description | stringformat:".50s" }} ...</p> <!--the sfrmat function limits the characters -->
                                        <p class="card-text">€{{ application.listing.rentPrice }} p/m</p>
                                        
                                        <div class="text-center">
                                            <a href="{% url 'project_detail' application.listing.pk %}" class="btn btn-dark center">View Property</a>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    
                    {% endfor %}
                {% else %}
                    <h1 class="text-dark" style="padding:5px" > You have no property applications.</h1>
                    <a href="{% url 'project_index' %}"><h2 class="text-dark">Click here to view vacant properties!!</h2></a>
                {% endif %} 
    </div>
</div>
<br>





{% endblock content %}
