{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}
<style>

    .ex1 {
        background-color: #41b6ae;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 100%;
        height: 600px;
        margin-left: 10px;
        margin-right: 10px;
        overflow: scroll;
}



</style>

    <div class="content-section border border-dark" style="background: #41b6ae">
      <div class="media">
{#          Fixed images for view tenant....add .url#}
        <img class="rounded-circle account-img border border-dark" src="{{ tenant.image.url }}">
          <div class="media-body  text-white">
            <font size="10"class="account-heading">{{tenant.tenant}}</font>
            <img class="rounded-circle account-img" style="width:30px;height:30px;" src="https://cdn2.iconfinder.com/data/icons/essentials-volume-i/128/verified-gold-512.png">
            <p></p>
{#              Buttons are linked to pages in the image carousel#}
              <button class="btn btn-outline-info bg-white" data-target="#carouselExampleIndicators" data-slide-to="0" >References</button>
              <button class="btn btn-outline-info bg-white" data-target="#carouselExampleIndicators" data-slide-to="1">Salary</button>
              <button class="btn btn-outline-info bg-white" data-target="#carouselExampleIndicators" data-slide-to="2">Savings</button>
              <button class="btn btn-outline-info bg-white" data-target="#carouselExampleIndicators" data-slide-to="3" >H.A.P.</button>
              <button class="btn btn-outline-info bg-white" data-target="#carouselExampleIndicators" data-slide-to="4" >Viewing Status</button>
          </div>
        </div>
    </div>




      <div class="col-md-12">
        <div class="row">
          {% comment %} left side  {% endcomment %}
          <div class="col-md-8">
          <legend class="border-bottom mb-4">Profile Info:</legend>
{#              carousel container#}
            <div class="content-section" style="background: white">
                <div id="carouselExampleIndicators" class="carousel slide" >
                    <div class="carousel-inner">
{#                        this is where the images in the slideshow are#}

                        <div class="carousel-item active">
                            <h5>Tenants References</h5>
                            {% if tenant.references == '' %}
                               <p class="text-secondary">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/1200px-Red_X.svg.png" style="height: 30px; width:30px;">
                                    {{tenant.tenant}} has not uploaded a reference to their profile yet</p>
                            {% else %}
                                <iframe src="{{ tenant.references.url }}" width="100%" height="500px"></iframe>
                            {% endif %}
                        </div>

                        <div class="carousel-item">
                            <h5>Tenants Salary</h5>
                            {% if tenant.salaryDocument == '' %}
                                <p class="text-secondary">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/1200px-Red_X.svg.png" style="height: 30px; width:30px;">
                                    {{tenant.tenant}} has not uploaded their payslips to their profile yet</p>
                            {% else %}
                                <p>€{{tenant.salary }} <img class="rounded-circle account-img" style="width:15px;height:15px;" src="https://cdn2.iconfinder.com/data/icons/essentials-volume-i/128/verified-gold-512.png"></p>
                                <iframe src="{{ tenant.salaryDocument.url }}" width="100%" height="500px"></iframe>
                            {% endif %}
                        </div>
                        <div class="carousel-item">
                            {% if tenant.savingsDocument == '' %}
                                <h5>Tenants Savings</h5>
                                <p class="text-secondary">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/1200px-Red_X.svg.png" style="height: 30px; width:30px;">
                                    {{tenant.tenant}} has not uploaded their proof of employment to their profile yet</p>
                            {% else %}
                                <p>€{{tenant.savings }} <img class="rounded-circle account-img" style="width:15px;height:15px;" src="https://cdn2.iconfinder.com/data/icons/essentials-volume-i/128/verified-gold-512.png"></p>
                                <iframe src="{{ tenant.savingsDocument.url }}" width="100%" height="500px"></iframe>
                            {% endif %}
                        </div>

                        <div class="carousel-item">
                             <h5>HAP Document</h5>
                            {% if tenant.hapDocument == '' %}
                                <h5>H.A.P. Status:</h5>
                                    <p>In-Active</p>
                                    <p class="text-secondary">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/1200px-Red_X.svg.png" style="height: 30px; width:30px;">
                                    {{tenant.tenant}} has not uploaded their H.A.P. details  to their profile yet</p>

                            {% else %}
                                <h5>H.A.P. Status: </h5>
                                    <p>This tenant has H.A.P.</p>
                                    <iframe src="{{ tenant.hapDocument.url }}" width="100%" height="500px"></iframe>
                            {% endif %}
                        </div>

                        <div class="carousel-item  border border-dark" style="background: #41b6ae; padding: 10px">
                            <h2 style="color: white">Would you like to accept this applicant as your new tenant?</h2>

                            <form method="POST">
                              <label for="Viewing Date " class="text-white"><b><u>{{ tenant.tenant }} </b></u> will be notified when you make changes.</label>
                              
                              
                              
                              <fieldset class="form-group text-center col-md-4 bg-white border border-dark" style="margin: auto;padding: 10px">
                                <form>
                                  <div class="form-group">
                                    <label for="sel1">How did {{tenant.tenant}} get on at your viewing appointment?</label>
                                      {% comment %} <select class="form-control" id="sel1" style="margin:auto;"> {% endcomment %}
                                      {% csrf_token %}
                                      {{ submitButton.accepted}}
                                      {% comment %} {%for options in submitButton.accepted%}
                                        
                                        <option>{{options}}</option>
                                      
                                      {%endfor%}
                                      </select> {% endcomment %}
                                  {% comment %} <input type="date"> {% endcomment %}
                                    
                                    
                                </form>
                                  
                                  <div class="text-center" style="padding:10px">
                                    <button type="submit" class="btn bg-dark text-white">Submit Viewing Feedback</button>
                                  </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

{#                    Previous Button#}
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
{#                    Next Button#}
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>





            </div>
          </div>



          {% comment %} right side {% endcomment %}

          <div class="col-md-4">
            <div class="border border-dark ex1">
                <legend class="border-bottom mb-4 text-white">Tenant Reviews:</legend>


                {% for reviews in tenantReview %}
{#                <a href="{% url 'view_profile' reviews.landlord.pk %}" >{{ reviews.landlord }}</a>#}
                  <div class='card border border-dark' style="padding: 10px">
                    <p>{{ reviews.landlord }}
                    <p>{{reviews.stars}} <img src='https://clipart.info/images/ccovers/1495916675yellow-star-png-image-yellow-star-png-image-2.png' style="width:15px;height:15px;"></p>

                    <ul class="list-group">
                      <li class="list-group-item list-group-item-light text-dark">{{reviews.review}}</li>
                    </ul>
                    </p>
                  </div>
                  <br>
                {% endfor %}
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
